.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Css Переменные с цветами */

:root{
    --main-color-white: #fff;
    --main-color-black: #333333;
    --main-color-gray: #b2b2b2;
    --main-color-blue: #46a7f8;
    --second-color-gray: #d7dbde;
}

body{
    font-family: 'Roboto', sans-serif;
}

button{
    border: none;
    background: none;
}

/* Тпл стили */

.tpl{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    position: fixed;
    right: 0;
    top: 0;
    background: var(--main-color-white);
}

/* Общий враппер хэдэра*/

.tpl_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-left: 1px solid var(--main-color-gray);
    border-bottom: 1px solid var(--main-color-gray);
}

/* Общий враппер хэдэра (КОМПОНЕНТ-ЗАГЛУШКА)*/

.tpl_header-content{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.tpl_header-title{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 15px 0;
}

.tpl_header-close i{
    font-size: 1.5rem;
    color: var(--main-color-black);
}

.tpl_header-edit i{
    font-size: 1.5rem;
    color: var(--main-color-black);
}


/* Общий враппер мэйн-контента*/

.tpl-main {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}


/* Общий враппер навигации (слева) */

.tpl-main_asside {
    display: flex;
    justify-content: flex-start;
    min-width: 180px;
    border-right: 1px solid var(--main-color-gray);
    border-left: 1px solid var(--main-color-gray);
}

.tpl-main_nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.tpl-main_nav-item{
    width: auto;
    margin: 15px 0;
}

.tpl-main_nav-btn{
    padding: 0 5px;
}

.tpl-main_nav-btn i{
    width: 15px;
    height: auto;
    margin: 0 15px 0 0;
    font-size: 1.3rem;
    color: var(--main-color-black);
}

/* Общий враппер контента (справа) */

.tpl-main_content{
    display: flex;
    position: relative;

    width: 100%;

    overflow-y: auto;
    overflow-x:hidden;
}
.tpl-main-content-component{
    display: flex;

    width: 100%;
}

.tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tpl-main_innertpl{
    position: absolute;
    background-color: white;
    right: -100%;
    transition: all 1s;

    width: 100%;
    height: 100%;
}

.tpl-main_innertpl-header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 6vh;

    border-bottom: 1px solid var(--main-color-gray);
}

.tpl-main_innertpl-header h2{
    width: 90%;

    text-align: center;
    font-size: 1.125rem;
    font-weight: normal;

    margin: 0 0 0 -20px;
}

.tpl-main_innertpl-header i{
    font-size: 1.625rem;
}

.inner-tpl-open{
    right: 0;
}





/* ПЕРВАЯ ВКЛАДКА */

/* Инфо-блок */

.client-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info-list{
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.info-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-list li h3{
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.info-list li p{
    margin: 5px 0;
    font-weight: lighter;

}


/* Статус-блок */

.status-info{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main-color-gray);
}

.status-info-wrapper{
    justify-content: space-between;
    display: flex;
    width: 70%;
    padding: 20px 0;
}

.status-info-bar-wrapper{
    display: flex;
    flex-direction: column;
}

.status-list-main-info {
    display: flex;
    align-items: center;
}

.status-list-info-wrapper{
    padding: 10px 0;
}

.status-list-main-info h3{
    display: flex;
    margin:  0 5px;
    font-weight: 400;
    font-size: 1rem;
}

.status-list-info-wrapper p{
    font-weight: 300;
    font-size: 0.8rem;

    margin:  10px 0;
    color: var(--main-color-gray);
}

.status-list-main-info span{

    font-weight: 300;
    font-size: 0.8rem;

    margin: -5px 0 0 5px;
    color: var(--main-color-gray);
}

.status-list li span{
    margin: 0 0 10px 3px;
    font-size: 12px;
    color: dimgray;
}

.circleicon{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid 4px var(--main-color-gray);
}

.or{
    border-color: orange;
}

.bl{
    border-color: cornflowerblue;
}

.rd{
    border-color: red;
}

.pl{
    border-color: plum;
}


/* Сервис-аватар-блок */

.service-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--main-color-gray);
}

.service-avatar img{
    width: 70px;
    height: 70px;
    margin: -35px 0 0 0;
    border-radius: 50%;
}

.service-avatar h3{
    display: flex;
    align-items: center;

    margin: 10px 0 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.service-avatar p{
    margin:  5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}





/* Сервис-блок */

.service-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color-gray);
}

.info-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.info-item-name{
    display: flex;
    flex-direction: column;
}

.info-item-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-item-name h3{
    display: flex;
    align-items: center;

    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.info-item-name p{
    margin:  5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

.info-item-price h3{
    display: flex;
    align-items: center;

    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.info-item-price p{
    margin:  5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

.info-item-price span{
    text-decoration: line-through;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0 10px 0 0;
    color: var(--main-color-gray);
}

.sale{
    background-image: url(../img/SaleIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 5px 3px 5px 15px;
    margin: 0 0 0 5px;

    font-weight: 300;
    font-size: 0.6rem;
}

.add-button-item{
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-button-item button{
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 0 -23px 0;
}

.add-button-item img{
    width: 45px;
    height: 45px;
}


/* Итог-блок */

.total-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-list{
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.total-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-list li h3{
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.total-list li p{
    margin: 5px 0;
    font-weight: lighter;
}

.total-list-accept-wrapper{
    display: flex;
    justify-content: center;
}

.total-list-accept{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    padding: 5px 0;
    margin: 30px 0 30px 0;

    border: 1px solid var(--main-color-gray);
    border-radius: 5px;
}

.total-list-accept img{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}

/* Нижние кнопки-блок */

.bottom-button-block{
    border-top: 1px solid var(--main-color-gray);
}

.bottom-button-block-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.bottom-button-block-wrapper button{
    background-color: var(--main-color-blue);
    color: #ffffff;
    width: 85px;
    margin: 0 0 0 10px;
    padding: 10px 0;
    border-radius: 20px;
}

.bottom-button-block-wrapper button:focus{
    background-color: var(--second-color-gray);
    outline: none;
}

.bottom-button-block-wrapper button:active{
    background-color: var(--second-color-gray);
    outline: none;
}

.bottom-button-block-wrapper button:hover{
    background-color: var(--second-color-gray);
    outline: none;
}


.tab-content{
    height: fit-content;
}

#tabs .hide {
    display: none;
}
#tabs .show {
    display: flex;
}

/* ВТОРАЯ ВКЛАДКА */

.write-block{
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid var(--main-color-gray);
}

.write-buttons{
    display: flex;
    justify-content: space-around;

    padding: 30px 0;
}

.button-write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 300;
}

.button-write img{
    width: 40px;
    height: auto;

    margin: 0 0 15px 0;
}

.add-client-subname{
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-client-subname p{
    font-weight: 300;
    margin: 40px 0 0 0;
}

.select-buttons-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

}

.select-button-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 15vh;
    margin: 20px 0;

    border-radius: 10px;

    font-weight: 300;

    border: 1px solid var(--main-color-gray);
}

.select-button-item img{
    margin: 0 0 10px 0;
}



.write-info-solo{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color-gray);

    padding: 20px 0;
}

.write-info-items{
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;

}

.write-item-name{
    display: flex;
    flex-direction: column;
}

.write-item-close{
    display: flex;
    align-items: center;
}

.write-item-name h3{
    display: flex;
    align-items: center;

    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.write-item-name p{
    margin:  5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}



.salered{
    background-image: url(../img/SaleIcon2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    padding: 5px 13px 5px 13px;
    margin: 0;

    font-weight: 300;
    font-size: 0.6rem;
}



/*ТРЕТЬЯ ВКЛАДКА*/

.top-choise-service-bar{
    display: flex;
    border-bottom: 1px solid var(--main-color-gray);
}

.choise-service-bar-avatar{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10% 0 0;

    width: 100%;
}

.top-choise-service-bar-leftbutton{
    height: 35px;
}

.top-choise-service-bar-leftbutton img{
    width: 30px;
    height: 30px;
}

.choise-service-bar-avatar img{
    width: 30px;
    height: 30px;

    margin: 0 10px 0 0;

    border-radius: 50%;
}

.choise-service-bar-avatar h3{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}


.choise-service-search-bar-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0 10px 0;
}


.choise-service-search-bar{
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color-gray);
    border-radius: 30px;

    width: 95%;
}

.choise-service-search-bar input{
    width: 90%;
    height: 35px;
    padding: 0 0 0 5px;
    background: none;
    border: none;
    outline: none;
}

.choise-service-search-bar input::placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}
.choise-service-search-bar input::-moz-placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}


.service-category{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px 0 25px;

}

.service-category h3{
    font-size: 1.3rem;
    font-weight: 300;
}

.service-category img{
    width: 30px;
}

.servise-list-items{
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.servise-list-items li{
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 25px;
}

.servise-list-items li button img{
    width: 20px;
}


.service-list-item-info-wrapper{
    display: flex;
}

.service-list-apply{
    width: 25px;
}

.service-list-item-info-name{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.service-list-item-info-name h4{
    font-size: 1rem;
    font-weight: 300;
    margin: 8px 0;
}

.service-list-item-info-name p{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--main-color-gray);
    margin: 5px 5px 5px 0;
}

.service-list-item-info-price{
    display: flex;
}

.service-list-item-info-price p{
    display: flex;
}

.service-list-item-info-price img{
    margin: 0 0 0 3px;

}






/*ЧЕТВЕРТАЯ ВКЛАДКА*/

.top-master-service-bar{
    display: flex;
    border-bottom: 1px solid var(--main-color-gray);
}

.master-service-bar-avatar{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10% 0 0;

    width: 100%;
}

.top-master-service-bar-leftbutton{
    height: 35px;
}

.top-master-service-bar-leftbutton img{
    width: 30px;
    height: 30px;
}

.master-service-bar-avatar img{
    display: none;
    width: 30px;
    height: 30px;

    margin: 0 10px 0 0;

    border-radius: 50%;
}

.master-service-bar-avatar h3{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}


.master-service-search-bar-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0 30px 0;
}


.master-service-search-bar{
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color-gray);
    border-radius: 30px;

    width: 95%;
}

.master-service-search-bar input{
    width: 90%;
    height: 35px;
    padding: 0 0 0 5px;
    background: none;
    border: none;
    outline: none;
}

.master-service-search-bar input::placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}
.master-service-search-bar input::-moz-placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}


.service-calendar-wrapper{
    display: flex;
    justify-content: center;
}

.service-calendar{
    width: 90%;
}



.service-write-wrapper{
    display: flex;
    flex-direction: column;

}


.service-wrtite-toggle{
    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 30px 3% 30px 8%;
}

.service-write-toggle-info{
    display: flex;
    align-items: center;

}

.service-write-toggle-info img{
    width: 50px;
    height: 50px;

    margin: 0 20px 0 0;

    border-radius: 50%;
}


.service-write-toggle-name{
    display: flex;
    flex-direction: column;


}

.service-write-toggle-name h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 5px 0;
}


.service-write-toggle-name p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

.service-toggle-name-btn img{
    width: 30px;
}



@media (max-width: 760px) {
    html{
        font-size: 12px;
    }

    .tab-content{
        margin: 40px 0 50px 0;
    }

    .tpl{
        width: 100vw;
    }

    .tpl-main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100vh - 50px);
        overflow: scroll;
    }

    .tpl_header{
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        z-index: 10;

        display: flex;
        height: 40px;
        border-left: none;
    }

    .tpl-main_asside{
        display: flex;
        align-items: center;

        position: fixed;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 50px;

        order: 2;

        z-index: 10;

        background-color: var(--main-color-white);

        border-top: 1px solid var(--main-color-gray);
        border-left: none;
        border-right: none;
    }

    .tpl-main-content-component{
        width: 100%;
    }
    .tpl-main_content{
        width: 100%;

        order: 1;

        margin: 0;
    }

    .inner-tpl-main-content-component p{

        font-size: 0.75rem;
    }

    .tpl-main_asside ul{
        display: flex;
        align-items: center;

        margin: 0;
        padding: 0;

        width: 100vw;
    }

    .tpl-main_asside li{
        display: flex;
        justify-content: center;

        text-align: center;
        margin: 0;
        width: 20%;
    }

    .tpl-main_asside li button{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;

        color: var(--main-color-black);
        font-size: 0.625rem;
        margin: 0;
    }

    .tpl-main_asside li i{
        width: auto;
        margin: 0 ;
    }

    .tpl_header-content h2{
        font-size: 1rem;
        font-weight: normal;

        margin: 0;
    }

    .tpl_header-content i{
        font-size: 1rem;

        color: var(--main-color-black);
    }

    .tpl-main_asside li i{
        margin: 0 0 4px 0;

        font-size: 1rem;
    }


    .tpl-main_innertpl-header{
        height: 5vh;

        border-bottom: 1px solid var(--main-color-gray);

    }

    .tpl-main_innertpl-header h2{
        font-size: 0.75rem;

        margin: 0 0 0 -30px;
    }

    .tpl-main_innertpl-header i{
        font-size: 1.25rem;
    }

    .choise-service-bar input{
        padding: 0 0 0 15px;
    }

}