/* Сниппет для скрытия со страницы элементов которых не тв дизайне , но необходимых для семантики/доступности */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Css Переменные с цветами */

:root {
    --main-color-white: #fff;
    --main-color-black: #333333;
    --main-color-gray: #b2b2b2;
    --main-color-blue: #46a7f8;
    --second-color-gray: #d7dbde;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background: none;
}

/* Тпл стили */

.tpl {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: calc(100% - 50px);
    position: fixed;
    right: 0;
    top: 0;
    background: var(--main-color-white);
}

/* Общий враппер хэдэра */

.tpl_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-left: 1px solid var(--main-color-gray);
    border-bottom: 1px solid var(--main-color-gray);
}

/* Хэдэр */

.tpl_header-content {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.tpl_header-title {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 15px 0;
}

.tpl_header-close i {
    font-size: 1.5rem;
    color: var(--main-color-black);
}

.tpl_header-edit i {
    font-size: 1.5rem;
    color: var(--main-color-black);
}

/* Общий враппер мэйн-контента*/

.tpl-main {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--main-color-white) ;
}

/* Общий враппер навигации (слева) */

.tpl-main_asside {
    display: flex;
    justify-content: flex-start;
    min-width: 180px;
    border-right: 1px solid var(--main-color-gray);
    border-left: 1px solid var(--main-color-gray);
}

.tpl-main_nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.tpl-main_nav-item {
    width: auto;
    margin: 15px 0;
}

.tpl-main_nav-btn {
    padding: 0 5px;
}

.tpl-main_nav-btn i {
    width: 15px;
    height: auto;
    margin: 0 15px 0 0;
    font-size: 1.3rem;
    color: var(--main-color-black);
}

/* Общий враппер контента (справа) */

.tpl-main_content {
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tpl-main_tplcontent {
    display: flex;
    width: 100%;
}

.tpl-main_tabcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tpl-main_innertpl {
    position: absolute;
    background-color: white;
    right: -100%;
    transition: all 1s;
    width: 100%;
    height: 100%;
}

.tpl-main_innertpl-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid var(--main-color-gray);
}

.innertpl-header-title {
    width: 90%;
    text-align: center;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0 0 0 -20px;
}

.tpl-main_innertpl-header i {
    font-size: 1.625rem;
}

.inner-tpl-open {
    right: 0;
}

/* ВКЛАДКА ЗАПИСЬ */

/* Первое вью - выбор записи*/

.add-visit_picker-block {
    display: flex;
    flex-direction: column;
}

.add-visit_picker-btns {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.add-visit_picker-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.add-visit_picker-btn img {
    width: 40px;
    height: auto;
    margin: 0 0 15px 0;
}

.add-visit_client-add-btn-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.add-visit_select-btns-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-visit_select-btnitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 135px;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: 300;
    border: 1px solid var(--main-color-gray);
}

.add-visit_select-btnitem img {
    margin: 0 0 10px 0;
}

.add-visit_clientinfo-solo {
    display: none;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color-gray);
    padding: 20px 0;
}

.add-visit_clientinfo-group {
    display: none;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color-gray);
    padding: 20px 0;
}

.add-visit_clientvisit-info_service-info-items {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.add-visit_clientvisit-info_service-info-item {
    display: flex;
    flex-direction: column;
}

.add-visit_clientinfo-closebtn {
    display: flex;
    align-items: center;
}

.add-visit_clientinfo-name {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.add-visit_clientinfo-sale {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

.add-visit_clientinfo-phone {
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

.salered {
    color: var(--main-color-white);
    margin: 0 0 0 -30px;
    font-weight: 300;
    font-size: 0.6rem;
}

/* Второе вью - выбор услуги */

.add-service_wrapper {
    display: none;
}

.add-service_top-bar {
    display: flex;
    border-bottom: 1px solid var(--main-color-gray);
}

.add-service_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15% 0 0;
    width: 100%;
}

.add-service_back-btn {
    height: 35px;
}

.add-service_back-btn img {
    width: 30px;
    height: 30px;
}

.add-service_avatar img {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.add-service_title {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.add-service_search-bar-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 10px 0;
}

.add-service_search-bar {
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color-gray);
    border-radius: 30px;
    width: 95%;
}

.add-service_search-bar input {
    width: 90%;
    height: 35px;
    padding: 0 0 0 5px;
    background: none;
    border: none;
    outline: none;
}

.add-service_search-bar input::placeholder {
    font-size: 0.8rem;
    font-weight: 300;
}

.add-service_search-bar input::-moz-placeholder {
    font-size: 0.8rem;
    font-weight: 300;
}

.service-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 25px;
}

.service-category h3 {
    font-size: 1.3rem;
    font-weight: 300;
}

.service-category img {
    width: 30px;
}

.servise-list-items {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.servise-list-items li {
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 25px;
}

.servise-list-items li button img {
    width: 20px;
}

.service-list-item-info-wrapper {
    display: flex;
}

.service-list-apply {
    width: 25px;
}

.service-list-item-info-name {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.service-list-item-info-name h4 {
    font-size: 1rem;
    font-weight: 300;
    margin: 8px 0;
}

.service-list-item-info-name p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--main-color-gray);
    margin: 5px 5px 5px 0;
}

.service-list-item-info-price {
    display: flex;
}

.service-list-item-info-price p {
    display: flex;
}

.service-list-item-info-price img {
    margin: 0 0 0 3px;
}

/* Третье вью - выбор мастера */

.add-master_wrapper {
    display: none;
}

.top-master-service-bar {
    display: flex;
    border-bottom: 1px solid var(--main-color-gray);
}

.master-service-bar-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 0;
    width: 100%;
}

.top-master-service-bar-leftbutton {
    height: 35px;
}

.top-master-service-bar-leftbutton img {
    width: 30px;
    height: 30px;
}

.master-service-bar-avatar img {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.master-service-bar-avatar h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.master-service-search-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0 30px 0;
}

.master-service-search-bar {
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color-gray);
    border-radius: 30px;
    width: 95%;
}

.master-service-search-bar input {
    width: 90%;
    height: 35px;
    padding: 0 0 0 5px;
    background: none;
    border: none;
    outline: none;
}

.master-service-search-bar input::placeholder {
    font-size: 0.8rem;
    font-weight: 300;
}

.master-service-search-bar input::-moz-placeholder {
    font-size: 0.8rem;
    font-weight: 300;
}

.service-calendar-wrapper {
    display: flex;
    justify-content: center;
}

.service-calendar {
    width: 90%;
}

.service-write-wrapper {
    display: flex;
    flex-direction: column;
}

.service-wrtite-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3% 30px 8%;
}

.service-write-toggle-info {
    display: flex;
    align-items: center;
}

.service-write-toggle-info img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    border-radius: 50%;
}

.service-write-toggle-name {
    display: flex;
    flex-direction: column;
}

.service-write-toggle-name h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.service-write-toggle-name p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

.service-toggle-name-btn img {
    width: 30px;
}


/* ВТОРАЯ ВКЛАДКА */

/* Инфо-блок */

.visit-info_info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-list {
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.info-list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-list_item-title {
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.info-list_item-name {
    margin: 5px 0;
    font-weight: lighter;
}

.info-list_item__red{
    background: red;
}

/* Статус-блок */

.visit-info_status-info-block {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main-color-gray);
}

.status-info {
    justify-content: space-between;
    display: flex;
    width: 70%;
    padding: 20px 0;
}

.status-info_column {
    display: flex;
    flex-direction: column;
}

.status-info_item {
    padding: 10px 0;
}

.status {
    display: flex;
    align-items: center;
}

.status-title {
    display: flex;
    margin: 0 5px;
    font-weight: 400;
    font-size: 1rem;
}

.status-subtitle {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 10px 0;
    color: var(--main-color-gray);
}

.custom-rubble {
    font-weight: 300;
    font-size: 0.8rem;
    margin: -5px 0 0 5px;
    color: var(--main-color-gray);
}

.status-list li span {
    margin: 0 0 10px 3px;
    font-size: 12px;
    color: dimgray;
}

.status-icon {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid 4px var(--main-color-gray);
}

.status-icon__orange {
    border-color: orange;
}

.status-icon__blue {
    border-color: cornflowerblue;
}

.status-icon__red {
    border-color: red;
}

.status-icon_violet {
    border-color: plum;
}

/* Сервис-аватар-блок */

.visit-info_master-info-block{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main-color-gray);
}

.master-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.master-info_avatar {
    display: none;
    padding: 0;
    margin: -35px 0 0 0;
    border-radius: 50%;
}

.master-info_avatar img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.master-info_avatar__show {
    display: flex;
}

.master-info_name {
    display: flex;
    align-items: center;
    margin: 10px 0 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.master-info_specialisation {
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

/* Сервис-блок */

.visit-info_service-info-block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color-gray);
}

.service-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.service-info_column{
    display: flex;
    flex-direction: row;
}

.service-info_item {
    display: flex;
    flex-direction: column;
}

.service-info_item-title {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.service-info_item-title img{
    width: 38px;
    margin: 0 0 0 5px;
}

.service-info_item-subtitle {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--main-color-gray);
}

.service-info_delete{
    display: none;
    align-items: center;
    padding: 0 10px 5px 10px;
}

.service-info_delete img{
    width: 15px;
}

.service-info_delete__show{
    display: flex;
}


.line-throught-gray {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0 10px 0 0;
    color: var(--main-color-gray);
}

.line-throught-red {
    text-decoration: line-through #F75A5A;
    opacity: 0.6;
}

.red-text{
    color: #AF9999;
}

.sale {
    margin: 0 0 0 -22px;
    font-weight: 300;
    font-size: 0.6rem;
}

.visit-info_add-button-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: -23px 0 0 0;
    border-radius: 50%;
    background-color: #76FE91 ;
}

.add-button i{
    font-size: 1.5rem;
    color: var(--main-color-white);
}

.add-visit_client-add-btn img {
    width: 45px;
    height: 45px;
    margin: 0 0 10px 0;
}

/* Итог-блок */

.visit-info_accept-block {
    display: flex;
    justify-content: center;
}

.accept {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px 0;
    margin: 30px 0 30px 0;
    border: 1px solid var(--main-color-gray);
    border-radius: 5px;
}

.accept img {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}




.tpl-main_tabcontent {
    height: fit-content;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: flex;
}



/* Медиа - запросы */

@media (max-width: 760px) {

    html {
        font-size: 12px;
    }

    body {
        height: 100vh;
    }

    .tpl-main_tabcontent {
        margin: 40px 0 50px 0;
    }

    .tpl {
        width: 100vw;
        position: static;
    }

    .tpl-main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

    }

    .tpl_header {
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        z-index: 10;

        display: flex;
        height: 40px;
        border-left: none;
    }

    .tpl-main_asside {
        display: flex;
        align-items: center;

        position: fixed;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 50px;

        order: 2;

        z-index: 10;

        background-color: var(--main-color-white);

        border-top: 1px solid var(--main-color-gray);
        border-left: none;
        border-right: none;
    }

    .tpl-main_tplcontent {
        width: 100%;
    }

    .tpl-main_content {
        width: 100%;

        order: 1;

        margin: 0;
    }

    .inner-tpl-main_tplcontent p {

        font-size: 0.75rem;
    }

    .tpl-main_nav-list {
        display: flex;
        align-items: center;

        margin: 0;
        padding: 0;

        width: 100vw;
    }

    .tpl-main_nav-item {
        display: flex;
        justify-content: center;

        text-align: center;
        margin: 0;
        width: 20%;
    }

    .tpl-main_nav-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;

        color: var(--main-color-black);
        font-size: 0.625rem;
        margin: 0;
    }

    .tpl-main_nav-item i {
        width: auto;
        margin: 0;
    }

    .tpl_header-content h2 {
        font-size: 1rem;
        font-weight: normal;

        margin: 0;
    }

    .tpl_header-content i {
        font-size: 1rem;

        color: var(--main-color-black);
    }

    .tpl-main_nav-item i {
        margin: 0 0 4px 0;

        font-size: 1rem;
    }


    .tpl-main_innertpl-header {
        height: 5vh;

        border-bottom: 1px solid var(--main-color-gray);

    }

    .innertpl-header-title {
        font-size: 0.75rem;

        margin: 0 0 0 -30px;
    }

    .tpl-main_innertpl-header i {
        font-size: 1.25rem;
    }

    .choise-service-bar input {
        padding: 0 0 0 15px;
    }

}