/* Сниппет для скрытия элементов, но позволяющий получать доступ для сео(например скрывать заголовки которых нет в дизайне) */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Переменные с цветами */

:root{
    --main-color-white: #fff;
    --main-color-black: #333333;
    --main-color-lightgray: #e9e9e9;
    --main-color-gray: #b2b2b2;
    --main-color-deepgray: #7D7D7D;
    --main-color-gray-opacity:rgba(236,236,236,0.5);
    --main-shadow-color: #d6d6d6;
}

body{
    font-family: Roboto,sans-serif;
}

/* (Позиционирование} Общей обертки всего виджета */

.hipster-widget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* (Позиционирование} компонента main-header */

.hipster-widget__header{
    width: 100%;
}

/* (Позиционирование} Обертки контента всего виджета */

.hipster-widget__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

/* {Позиционирование} компонента select-buttons */

.hipster-widget__select-buttons{
    width: 90%;
    margin: 20px 0 0 0;
}

/* {Позиционирование} компонента search-bar */

.hipster-widget__search{
    width: 100%;
    margin: 20px 0 0 0;
}

/* {Позиционирование} компонента quickwrite-bar */

.hipster-widget__quickwrite{
    width: 96%;
    margin: 10px 0 0 0;
}

/* {Позиционирование} компонента rect-card */

.hipster-widget__cards{
    width: 94%;
    margin: 0 0 35px 0;
}

.hipster-widget__item{
    margin: 35px 0 0 0;
}

/* {Позиционирование} компонента main-menu */

.hipster-widget__nav{
    display: flex;
    width: 100%;
}
/* <--------------------------------------------------------------------------------> */

/* |Компонент| main-header */

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: all ease-in 0.3s;
}

.dropShadow{
    box-shadow: 0 5px 16px -4px var(--main-shadow-color);
}

.main-header__leftbar{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30px;
}

.main-header__midbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
}

.main-header__rightbar{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30px;
}

/* Стилизация заголовка и логотипа в шапке */

.main-header__headline{
    margin: 5px 5px 0 0;
    font-size: 1rem;
    font-weight: 300;
}

.main-header__logo{
    width: 25px;
    height: 25px;
}

/* Стилизация навигационных кнопок вперед/назад в main-header */

.main-header__navbtn{
    border: none;
    background: none;
    padding: 0;
}

.main-header__navbtn img{
    width: 20px;
    height: 20px;
}

/* [Модификатор] - для появления навигационных кнопок вперед/назад в main-header */

.main-header__navbtn_btnshow{
    visibility: visible;
}

/* <--------------------------------------------------------------------------------> */

/* |Компонент| select-buttons */

.select-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-buttons__btnitem{
    width: 40vw;
    height: 32px;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
}

/* [Модификатор] - активной/выбранной кнопки */

.select-buttons_pickedbtn{
    border: 1px solid var(--main-color-gray);
    box-shadow: 4px 4px 0 var(--main-shadow-color);
    background-color: var(--main-color-white);
}

/* Состояние активной кнопки */

.select-buttons__btnitem:active{
    background-color: var(--main-color-lightgray);
    color: var(--main-color-black);

}

/* Состояние выбранной кнопки */

.select-buttons__btnitem:focus{
    border: 1px solid var(--main-color-gray);
    box-shadow:  4px 4px 0 var(--main-shadow-color);
    background-color: var(--main-color-white);
}

/* <--------------------------------------------------------------------------------> */

/* |Компонент| search-bar */

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-lightgray);
}

.search-bar__leftbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.search-bar__rightbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

/* Стилизация навигационных кнопок поиск/быстрая запись в search-bar */

.search-bar__navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background: none;
    border: none;
}

/* [Модификатор] - кастомный padding для кнопки поиск в search-bar */

.search-bar__navbtn_custompadding{
    padding: 5px 15px 5px 20px;
}

.search-bar__searchicon{
    width: 18px;
    height: 18px;
}

.search-bar__quickwriteicon{
    width: 15px;
    height: 15px;
}

/* Стилизация input'a в search-bar */

.search-bar__input{
    background: none;
    border: none;
}

.search-bar__input::placeholder{
    font-size: 0.85rem;
    font-weight: 300;
}

/* <--------------------------------------------------------------------------------> */

/* |Компонент| quickwrite-bar */

.quickwrite-bar{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* [Модификатор] - скрытие/раскрытие по клику блока quickwrite-bar */

.quickwrite-bar_show{
    display: flex;
}

.quickwrite-bar__picker{
    display: flex;
    width: 100%;
}

.quickwrite-bar__leftbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quickwrite-bar__midbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quickwrite-bar__rightbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quickwrite-bar__picker-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.quickwrite-bar__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 300;
}

.quickwrite-bar__custom-datenum{
    padding: 0 0 5px 0;
    font-weight: 400;
}

.quickwrite-bar__pickeddate .quickwrite-bar__custom-datenum{
    font-size: 1.1rem;
}

.quickwrite-bar__pickeddate{
    background: #5e5e5e;
    color: var(--main-color-white);
    padding: 6px 12px;
    border-radius: 5px;
}

.quickwrite-bar__headline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 0 0 15px 0;
}

.quickwrite-bar__navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background: none;
    border: none;
}

/* <--------------------------------------------------------------------------------> */

/* |Компонент| rect-card */

.rect-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rect-card__leftbar{
    display: flex;
    justify-content: center;
}

.rect-card__rightbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.rect-card__master-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rect-card__avatar{
    width: 65px;
    height: 65px;
    margin: 0 12px 0 0;
    box-shadow: 4px 4px 0 var(--main-shadow-color);
}

/* [Модификатор] - для скругления аватаров мастеров */

.rect-card__avatar_border-radius_50{
    border-radius: 50%;
}

.rect-card__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin: 0;
}

.rect-card__master-spec{
    display: flex;
    align-items: center;
    margin: 10px 0 6px 0;
    font-size: 0.8rem;
    color: var(--main-color-deepgray);
}

.rect-card__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-size: 0.85rem;
}

.rect-card__rating img{
    width: 9px;
    height: 9px;
    margin: 0 3px 1px 0;
}

.rect-card__rating p{
    font-size: 0.625rem;
    margin:0;
}

.rect-card__quickwrite-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rect-card__quickwrite-headline{
    margin: 0;
    font-size: 0.625rem;
}

.rect-card__quickwrite-dates{
    display: flex;
}

.rect-card__quickwrite-date{
    display: flex;
    padding: 5px 8px 5px 8px;
    margin: 0 5px;
    font-size: 0.625rem;
    border-radius: 14px;
    border: 1px solid var(--main-color-gray);
    background: none;
}

.rect-card__quickwrite-date:first-child{
    margin: 0;
}

.rect-card__quickwrite-date:last-child{
    margin: 0;
}

.rect-card__quickwrite-time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: 0;
    transition: all ease-in 0.3s;
}

.rect-card__quickwrite-time button{
    display: flex;
    height: 14px;
    padding: 0;
}

.rect-card__quickwrite-time img{
    height: 14px;
}

.main-menu{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--main-color-white);
    box-shadow: 0 -5px 16px -4px var(--main-shadow-color);
}

.main-menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-menu__item{
    display: flex;
}

.main-menu__item-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: none;
    align-items: center;
    font-size: 0.625rem;
}

.main-menu__item-btn img{
    width: 20px;
    height: 20px;
    margin: 0 0 5px 0;
}
